<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <!-- List of environment variables we want to set-->
	  <ASPNETCORE_ENVIRONMENT>Development</ASPNETCORE_ENVIRONMENT>
      <TEST_ENVIRONMENT>Development</TEST_ENVIRONMENT>
    </EnvironmentVariables>
  </RunConfiguration>
  <NUnit>
	<NumberOfTestWorkers>1</NumberOfTestWorkers>
  </NUnit>
</RunSettings>